<!doctype html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Basic Templates</title>
   <!-- libs-->
   <link rel="stylesheet" type="text/css" href="../libs/bootstrap/css/bootstrap.min.css">
   
   <!-- custom CSS -->
   <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <!-- Start your coding -->
    <div class="col-sm-12">
        <img src="../img/general/content-box-a.jpg" alt="">
        
    </div>
</body>
<!-- libs -->
<script type="text/javascript" src="../libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
<!-- custom scripts -->
<script type="text/javascript" src="../js/util.js"></script> 
</html>
