<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap/css/bootstrap.min.css">
	<link href="../css/main.css" rel="stylesheet">
	

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../js/util.js"></script>
  </head>
	  <body>
		
		<div class="for-light-background">
			<h1>Light background</h1>
			<button class="btn-green-curve">Button Fancy</button>
			<button class="btn-normal-curve">Button Fancy</button>
			<a class="link-green">For Link</a>
			
		</div>
		<div class="for-green-background">
			<h2>Green background Fancy</h2>
			<button class="btn-normal-curve-b">Button 3</button>
			<button class="btn-green-curve-b">Button 4</button>
			<a class="link-white">For Link 2</a>
		</div>
		<div class="for-light-background">
			<h2>Normal button </h2>
			<button class="btn-green">Button Fancy</button>
			<button class="btn-normal">Button Fancy</button>
			<a class="link-green">Text Link</a>
			<a class="link-gray">Small Gray</a>				
		
		</div>
		<div class="for-green-background">
			<h2>Green Background Normal button  </h2>
			<button class="btn-normal-b">Button Fancy</button>
			<button class="btn-green-b">Button Fancy</button>
			<a class="link-white">Text Link</a>
			<a class="link-white-small">Small Gray</a>				
		
		</div>
	
  </body>
</html>